@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground ;
  }
  thead > tr {
    @apply bg-primary;
  }

  tbody > tr {
  @apply  odd:bg-primary-foreground even:bg-white w-full rounded-lg overflow-hidden dark:even:bg-gray-800 dark:odd:bg-card p-1;
}

td {
  @apply p-1;
}


}

/* Custom Style */
.icon {
  @apply text-[1.5rem];
}
.nav-icon-left{
  @apply text-[1.8rem];
}

.category-icon {
  @apply text-[1.5rem];
}

.big-btn-icon{
  @apply text-[2rem]
}

.icon-outline {
  @apply  text-[1.8rem];
}



.category-btn{
  @apply p-3 bg-primary text-white w-full  flex items-center gap-[1rem] rounded-lg drop-shadow hover:bg-secondary active:bg-secondary transition hover:text-primary ;
}

.itemlist-btn {
  @apply p-4 bg-white rounded-lg shadow-md hover:bg-gray-200 active:bg-gray-300 transition duration-300 flex justify-between dark:bg-gray-700 dark:hover:bg-gray-600 dark:active:bg-gray-500 ; 
}




.left,.right {
  @apply w-1/2 h-full  rounded-lg flex flex-col gap-1 overflow-x-auto ;
}

.price {
  @apply font-medium text-primary;
}

.active {
  @apply text-primary font-bold text-[1.5rem];
}

.not-active {
  @apply font-normal hover:text-primary hover:font-bold hover:text-[1.5rem] transition-all;
}

