@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 
  .red-dark {
    --color-text-primary: #dc2626;
    --color-text-secoundary: #020617;
    --color-text-base: #fafafa;
    --color-bg-fill: #111827;
    --color-bg-dark: #030712;
    --color-bg-medium: #1f2937;
    --color-bg-light: #374151;
    --color-border:#000000;
    --radius: 0.5rem;
  }

   .red-light {
    --color-text-primary: #dc2626;
    --color-text-secoundary: #fecaca;
    --color-text-base: #111827;
    --color-bg-fill: #ffffff;
    --color-bg-dark: #f3f4f6 ;
    --color-bg-medium: #f1f5f9;
    --color-bg-light: #e2e8f0;
    --color-border:#d1d5db;
    --radius: 0.5rem;
  }

   .blue-dark {
    --color-text-primary: #1d4ed8;
    --color-text-secoundary: #020617;
    --color-text-base: #fafafa;
    --color-bg-fill: #111827;
    --color-bg-dark: #030712;
    --color-bg-medium: #1f2937;
    --color-bg-light: #374151;
    --color-border:#000000;
    --radius: 0.5rem;
  }
  .blue-light {
    --color-text-primary: #1d4ed8;
    --color-text-secoundary: #bfdbfe;
    --color-text-base: #111827;
    --color-bg-fill: #ffffff;
    --color-bg-dark: #f3f4f6 ;
    --color-bg-medium: #f1f5f9;
    --color-bg-light: #e2e8f0;
    --color-border:#d1d5db;
    --radius: 0.5rem;
  }

  .green-dark {
    --color-text-primary: #15803d;
    --color-text-secoundary: #020617;
    --color-text-base: #fafafa;
    --color-bg-fill: #111827;
    --color-bg-dark: #030712;
    --color-bg-medium: #1f2937;
    --color-bg-light: #374151;
    --color-border:#000000;
    --radius: 0.5rem;
  }
  .green-light {
    --color-text-primary: #15803d;
    --color-text-secoundary: #dcfce7;
    --color-text-base: #111827;
    --color-bg-fill: #ffffff;
    --color-bg-dark: #f3f4f6 ;
    --color-bg-medium: #f1f5f9;
    --color-bg-light: #e2e8f0;
    --color-border:#d1d5db;
    --radius: 0.5rem;
  }


  .orange-dark {
    --color-text-primary: #ea580c;
    --color-text-secoundary: #020617;
    --color-text-base: #fafafa;
    --color-bg-fill: #111827;
    --color-bg-dark: #030712;
    --color-bg-medium: #1f2937;
    --color-bg-light: #374151;
    --color-border:#000000;
    --radius: 0.5rem;
  }

  .orange-light {
    --color-text-primary: #ea580c;
    --color-text-secoundary: #ffedd5;
    --color-text-base: #111827;
    --color-bg-fill: #ffffff;
    --color-bg-dark: #f3f4f6 ;
    --color-bg-medium: #f1f5f9;
    --color-bg-light: #e2e8f0;
    --color-border:#d1d5db;
    --radius: 0.5rem;
  }
  tbody > tr:nth-child(odd) {
    @apply bg-secoundary;
  }
}

/* Custom Style */

.default-page {
  @apply w-full h-full flex items-center justify-center  text-skin-base bg-skin-medium;
}

/* Icons */
.icon {
  @apply text-[1.5rem];
}
.nav-icon-left {
  @apply text-[1.8rem];
}

.category-icon {
  @apply text-[1.5rem];
}

.big-btn-icon {
  @apply text-[2rem];
}

.icon-outline {
  @apply text-[1.8rem];
}

.link-icon {
  @apply text-[1.6rem];
}

.quantity-icon {
  @apply text-skin-base text-[1.5rem] mx-1;
}

.category-btn {
  @apply p-3  text-skin-base w-full  flex items-center gap-[1rem] rounded-lg drop-shadow transition bg-skin-medium hover:bg-skin-light;
}

.itemlist-btn {
  @apply p-4 bg-white rounded-lg shadow-sm hover:shadow-xl   transition duration-300 flex justify-between;
}

.left,.right {
  @apply w-1/2 h-full  rounded-lg flex flex-col gap-1 overflow-x-auto bg-skin-light;
}

.price {
  @apply font-medium text-skin-base;
}

.active {
  @apply font-bold text-[1.5rem] text-primary;
}

.not-active {
  @apply font-normal  hover:font-bold hover:text-[1.5rem] transition-all hover:text-primary;
}

/* Buttons */

.theme-btn {
  @apply flex items-center gap-[1rem]  p-3 rounded-lg pl-[1rem] transition-all hover:text-skin-base w-full;
}

.theme-icon {
  @apply p-3 flex items-center justify-center border rounded-lg cursor-pointer hover:text-skin-base transition-all;
}

.nav-link {
  @apply flex items-center justify-center gap-[1rem] pl-[1rem] p-3 bg-white rounded-lg hover:bg-gray-100 transition-all font-semibold active:bg-gray-200 capitalize flex-col;
}

.nav-link-active {
  @apply flex items-center gap-[1rem] pl-[1rem] p-3  rounded-lg hover:bg-gray-100 transition-all font-semibold text-skin-base capitalize justify-center flex-col;
}

.btn-primary {
  @apply text-skin-base px-6 py-3 w-max font-semibold rounded-lg mx-auto  transition-all  drop-shadow-lg hover:bg-white;
}

.btn-primary-1 {
  @apply text-skin-base block px-6 py-3 rounded-lg drop-shadow font-semibold capitalize cursor-pointer  hover:bg-white transition-all hover:underline hover:drop-shadow-lg;
}

.btn-quantity {
  @apply transition-all text-skin-base;
}

.btn-number {
  @apply bg-skin-light hover:bg-skin-light  hover:text-skin-base grow drop-shadow text-[1.8rem] font-bold   transition  basis-1/4   rounded-lg uppercase;
}

/* Box */
.label-box-1 {
  @apply flex flex-col gap-1 w-full;
}

.label-box-2 {
  @apply flex gap-1 w-fit;
}

.form-box-half {
  @apply w-1/2 flex flex-col gap-[1rem];
}

/* Label */
.label-1 {
  @apply font-medium capitalize;
}

/* Input */
.input-1 {
  @apply border rounded-lg p-3;
}
